@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.offcanvas.transparent-offcanvas {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for transparency */
  }
  .offcanvas-header {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for transparency */
  }
    